
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container m-t-30" ng-app="site" ng-controller="SepetCtrl" ng-cloak>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <div class="sidebar clearfix m-b-20">
                <div class="main-block">
                    <div class="sidebar-title white-txt">
                        <h6>Choose Cusine {{2+2}}</h6> <i class="fa fa-cutlery pull-right"></i>
                    </div>
                    <ul>
                        <li><a href="#1" class="scroll active">Pizza</a></li>
                        <li><a href="#2" class="scroll">Barbecuing and Grilling</a></li>
                        <li><a href="#3" class="scroll">Appetizers</a></li>
                        <li><a href="#4" class="scroll">Soup and salads</a></li>
                        <li><a href="#5" class="scroll">Pasta</a></li>
                        <li><a href="#6" class="scroll">Seafood</a></li>
                        <li><a href="#7" class="scroll">Beverages</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- end:Sidebar nav -->
                <div class="widget-delivery">
                    <form>
                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                            <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Delivery</span>
                            </label>
                        </div>
                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                            <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Takeout</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end:Left Sidebar -->
            <div class="widget clearfix">
                <!-- /widget heading -->
                <div class="widget-heading">
                    <h3 class="widget-title text-dark">
                        Popular tags
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body">
                    <ul class="tags">
                        <li>
                            <a href="#" class="tag">
                                Coupons
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Discounts
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Deals
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Amazon
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Ebay
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Fashion
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Shoes
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Kids
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Travel
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tag">
                                Hosting
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
            <div class="menu-widget m-b-30">
                <div class="widget-heading">
                    <h3 class="widget-title text-dark">
                        POPULAR ORDERS Delicious hot food! <a class="btn btn-link pull-right" data-toggle="collapse" href="#popular" aria-expanded="true">
                            <i class="fa fa-angle-right pull-right"></i>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="collapse in" id="1">
                    <div class="food-item white">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item white">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                </div>
                <!-- end:Collapse -->
            </div>
            <!-- end:Widget menu -->
            <div class="menu-widget" id="2">
                <div class="widget-heading">
                    <h3 class="widget-title text-dark">
                        POPULAR ORDERS Delicious hot food! <a class="btn btn-link pull-right" data-toggle="collapse" href="#popular2" aria-expanded="true">
                            <i class="fa fa-angle-right pull-right"></i>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="collapse in" id="popular2">
                    <div class="food-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item white">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                    <div class="food-item white">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-8">
                                <div class="rest-logo pull-left">
                                    <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="rest-descr">
                                    <h6><a href="#">Veg Extravaganza</a></h6>
                                    <p> Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                </div>
                                <!-- end:Description -->
                            </div>
                            <!-- end:col -->
                            <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ 19.99</span> <a href="#" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" data-target="#order-modal">&#43;</a> </div>
                        </div>
                        <!-- end:row -->
                    </div>
                    <!-- end:Food item -->
                </div>
                <!-- end:Collapse -->
            </div>
            <!-- end:Widget menu -->
            <div class="row m-t-30">
                <div class="col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false">Can I viverra sit amet quam eget lacinia?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.</div>
                        </div>
                    </div>
                    <!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="ti-info-alt"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.</div>
                        </div>
                    </div>
                    <!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="ti-info-alt"></i>How does lorem ipsum work?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.</div>
                        </div>
                    </div>
                    <!--//panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="ti-info-alt"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.</div>
                        </div>
                    </div>
                    <!--//panel-->
                </div>
            </div>
            <!--/row -->
        </div>
        <!-- end:Bar -->
        <div class="col-xs-12 col-md-12 col-lg-3">
            <div class="sidebar-wrap">
                <div class="widget widget-cart">
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                            Your Shopping Cart
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="order-row bg-white">
                        <div class="widget-body">
                            <div class="title-row">Pizza Quatro Stagione <a href="#"><i class="fa fa-trash pull-right"></i></a></div>
                            <div class="form-group row no-gutter">
                                <div class="col-xs-8">
                                    <select class="form-control b-r-0" id="exampleSelect1">
                                        <option>Size SM</option>
                                        <option>Size LG</option>
                                        <option>Size XL</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <input class="form-control" type="number" value="2" id="example-number-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-row">
                        <div class="widget-body">
                            <div class="title-row">Carlsberg Beer <a href="#"><i class="fa fa-trash pull-right"></i></a></div>
                            <div class="form-group row no-gutter">
                                <div class="col-xs-8">
                                    <select class="form-control b-r-0">
                                        <option>Size SM</option>
                                        <option>Size LG</option>
                                        <option>Size XL</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <input class="form-control" value="4" id="quant-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end:Order row -->
                    <div class="widget-delivery clearfix">
                        <form>
                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 b-t-0">
                                <label class="custom-control custom-radio">
                                    <input id="radio4" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Delivery</span>
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 b-t-0">
                                <label class="custom-control custom-radio">
                                    <input id="radio3" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Takeout</span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="widget-body">
                        <div class="price-wrap text-xs-center">
                            <p>TOTAL</p>
                            <h3 class="value"><strong>$ 25,49</strong></h3>
                            <p>Free Shipping</p>
                            <button onclick="location.href='checkout.html'" type="button" class="btn theme-btn btn-lg">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:Right Sidebar -->
    </div>
    <!-- end:row -->
</div>